@(gruppe : models.Gruppe, members : List[Bruker])


<div class="conteiner-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="box">

                <h2><strong><p class="text-center"> @Html(gruppe.getGroupName()) </p></strong></h2>
                <!--redirect til editSide dersom bruker er admin-->
                <hr>
                @Html("Creator: "+gruppe.getCreator().getFirstName()+ gruppe.getCreator().getLastName())
                @if(gruppe.getMotherGroup() != null){
                <hr>
                @Html("Mothergroup: " )<a href="/group/@gruppe.getMotherGroup().getGroupID()">@Html(gruppe.getMotherGroup().getGroupName())</a>
                }
                <hr>
                Subgroups:
                <br>
                @for(i <- models.Gruppe.find.where().eq("motherGruppe", gruppe).findList()){
                @Html("    * ") <a href="/group/@i.getGroupID"> @Html(i.getGroupName())</a>
                    <br>
                }
                <hr>
                @if(gruppe.getCreator.equals(Bruker.find.byId(session.get("User")))) {
                <form action="/inviteGroupUser/@gruppe.getGroupID" method="POST">
                    <div class="form-group">
                        <lable for="invUser">Invite User</lable>
                        <div class="input-group">
                                <span class="input-group-addon" id="invUser">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </span>
                            <input type="text" class="form-control" id="invUser" name="invUser" aria-describedby="invUser" placeholder="User">
                        </div>
                        <button type="submit" class="form-control btn btn-success"> Invite </button>
                    </div>
                </form>
                }
                <table>
                    <tr>
                        <th>Members</th>
                    </tr>
                    @for(i <- members) {
                    <tr>
                        <td>@i.getFirstName()</td>
                    </tr>
                    }
                </table>

            </div>
        </div>
    </div>
</div>