.monthDayBox {
    background: rgba(200,200,200,0.7);
}

.weekDays {
    font-size: 20px;
    word-spacing: 123px;
    text-align: center;
}

.monthDayBox .monthNames :hover {
    color: #aaa;
}

.monthDayBox .thisMonthName:hover h1 {
    content: 'I dag';
}
.emptyDate {
    min-height:150px;
    height:auto;
    width:13.5%;
    min-height:150px;
    float:left;

    margin: 5px;
}
.todaysDate {
    width:13.5%;
    background: rgba(200,200,200,0.7);
    border:1px solid grey;
    min-height:150px;
    height:auto;
    vertical-align:middle;
    padding:8px;
    padding-left: 15px;
    float:left;

    font-weight: 600;

    margin: 5px;
}

.todaysDate a {
    color: #fff;
}

.g-calendar {
    display: block;
    margin-right:auto;
    margin-left: auto;
    margin-bottom: 50px;
    padding: 1em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) }

.event {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2px;

    text-align: center;
    font-weight: 400;

    width: 140px;
    height: 25px;
    background: rgba(40, 124, 151, .7);
}