.wrap{
    width: 100%;
    margin: 0;
}

.box {
    color: white;
    border-color: black;
    background-color: #333333;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    padding: 2%;
}