@(event: models.Event)
<div class="conteiner-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="box">

                <h2><strong><p class="text-center"> @Html(event.getTitle()) </p></strong></h2>
                <hr>
                @Html(event.getPlace())
                <hr>
                @Html(event.getText())
                <hr>
                @Html("" + event.getEventStarts().get(Calendar.DAY_OF_MONTH) + "." + (event.getEventStarts().get(Calendar.MONTH)+1) + "." + event.getEventStarts().get(Calendar.YEAR) );
                @Html("" + event.getEventStarts().get(Calendar.HOUR_OF_DAY) + ":" + event.getEventStarts().get(Calendar.MINUTE))
                @Html(event.getCreator().getFirstName)
                @Html(event.getCreator().getLastName)
            </div>
        </div>
    </div>
</div>