@(event: models.Event, affiliation: models.Affiliated, invList: List[Affiliated], statusList: List[Integer])
<div class="conteiner-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="box">

                <h2><strong><p class="text-center"> @Html(event.getTitle()) </p></strong></h2>
                <hr>
                @Html(event.getPlace())
                <hr>
                @Html(event.getText())
                <hr>
                @Html("" + event.getEventStarts().get(Calendar.DAY_OF_MONTH) + "." + (event.getEventStarts().get(Calendar.MONTH) + 1) + "." + event.getEventStarts().get(Calendar.YEAR))
                ;
                @Html("" + event.getEventStarts().get(Calendar.HOUR_OF_DAY) + ":" + event.getEventStarts().get(Calendar.MINUTE))
                @Html(event.getCreator().getFirstName())
                @Html(event.getCreator().getLastName())
                @Html(event.getRoom().getName())
                @if(event.getCreator.equals(Bruker.find.byId(session.get("User")))) {
                    <form action="/inviteUser/@event.getEventId" method="POST">
                        <div class="form-group">
                            <lable for="invUser">Invite User</lable>
                            <div class="input-group">
                                <span class="input-group-addon" id="invUser">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                </span>
                                <input type="text" class="form-control" id="invUser" name="invUser" aria-describedby="invUser" placeholder="User">
                            </div>
                            <button type="submit" class="form-control btn btn-success"> Invite </button>
                        </div>
                    </form>
                }

                <form method="POST" action="/updateStatus/@affiliation.getAffiliatedId()">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="radio-inline btn btn-success">
                            <input type="radio" name="status" id="inlineRadio1" value="ATTENDING"> Attending
                        </label>
                        <label class="radio-inline btn btn-success">
                            <input type="radio" name="status" id="inlineRadio2" value="MAYBE"> Maybe
                        </label>
                        <label class="radio-inline btn btn-success">
                            <input type="radio" name="status" id="inlineRadio3" value="NOT_ATTENDING"> Not attending
                        </label>
                    </div>
                    <button type="submit" class="btn btn-inline btn-success"> Update Status</button>
                </form>
                <hr>
                <table>
                    <tr>
                        <th>Attending  </th>
                        <th>Maybe  </th>
                        <th>Not Attending  </th>
                        <th>Awaiting  </th>
                    </tr>
                    <tr>
                        <td>@statusList.get(0)</td>
                        <td>@statusList.get(1)</td>
                        <td>@statusList.get(2)</td>
                        <td>@statusList.get(3)</td>
                    </tr>

                <table>
                    <tr>
                        <th>Deltaker</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                @for(i <- invList) {
                    <tr>
                        <td>@i.getBruker().getFirstName()</td>
                        <td>@i.getStatus().toString()</td>
                        @if(event.getCreator() != i.getBruker()){
                            <form method="POST" action="/remove/@i.getAffiliatedId()">
                                <td><button type = "submit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button></td>
                            </form>
                        }
                    </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>