@(rooms: List[Room])
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="box">
                <h2><strong><p class="text-center">Create new event</p></strong>
                </h2>
                <hr>
                <form name="event" action="/new/save" method="POST">
                    <div class="form-group">
                        <lable for="title">Event title:</lable>
                        <div class="input-group">
                    <span class="input-group-addon" id="title-id">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </span>
                            <input type="text" class="form-control" id="title" name="title" aria-describedby="title-id"
                                   placeholder="Title">
                        </div>
                    </div>
                    <div class="form-group">
                        <lable for="text">About your event:</lable>
                        <textarea class="form-control" id="text" name="text"
                                  placeholder="Write something about your event here"></textarea>
                    </div>
                    <div class="form-group">
                        <lable for="place">Place:</lable>
                        <div class="input-group">
                    <span class="input-group-addon" id="place-id">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    </span>
                            <input type="text" class="form-control" id="place" name="place" aria-describedby="place-id"
                                   placeholder="Place">
                        </div>
                    </div>
                    <div class="form-group">
                        <lable for="start">Event start:</lable>
                        <div class="input-group">
                    <span class="input-group-addon" id="start-id">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </span>
                            <input type="datetime-local" class="form-control" id="start" name="eStarts" aria-describedby="start-id">
                        </div>
                    </div>
                    <div class="form-group">
                        <lable for="end">Event end:</lable>
                        <div class="input-group">
                    <span class="input-group-addon" id="end-id">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    </span>
                            <input type="datetime-local" class="form-control" id="end" name="eEnds" aria-describedby="end-id">
                        </div>
                    </div>
                    <div class="form-group">
                        <lable for="end">Room:</lable>
                        <div class="input-group">
                            <span class="input-group-addon" id="end-id">
                                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            </span>

                            <select class="form-control" name="roomId">
                                <option value = "noRoom">No Room</option>
                                @for(i <- rooms) {
                                    <option value = "@i.getRoomId()">@i.getName() (Number of spots: @i.getRoomSize())</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success form-control" type="submit" aria-label="Left Align">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>